<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            hey! my
            name is</p>
        <div class="name">
            <p class="p-name">Mehdi Dissem<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">I'm a Full-Stack JavaScript developer and a senior SEO consultant</p>
            <p class="p-second">i'm currently a Hacker In Residence at <a
                    href="https://www.rbktunisia.com/">RebootKamp Tunisia</a>. you can
                find <a href="https://www.linkedin.com/in/mehdi-dissem/">LinkedIn</a> here.</p>
        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>